body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-wrap: wrap;
  /* background-color: black; */
  /* color: white; */
}
.contain {
  height: 15cm;
  width: 13cm;
  background-color: blue;
  color: white;
  margin-top: 2cm;
  /* margin-left: 12cm; */
  border-radius: 2cm;
  margin-bottom: 1cm;
  padding-top: 0.3cm;
}
.deletetask {
  background-color: red;
  color: white;
  border-radius: 0.5cm;
  margin-left: 0.2cm;
}
.addbutton {
  background-color: green;
  color: white;
  height: 1cm;
  width: 1.3cm;
  border-radius: 1cm;
  margin-left: 0.2cm;
}
.taskinput {
  height: 1cm;
  width: 8cm;
  border-radius: 1cm;
  font-size: x-large;
  padding-left: 0.5cm;
}
.todos {
  border: black;
  height: 0.7cm;
  width: 6cm;
  border-radius: 0.5cm;
  margin-top: 0.5cm;
  background-color: rgb(176, 175, 175);
  font-size: large;
  padding-left: 0.2cm;
  margin-bottom: 0.3cm;
}
.edittask {
  background-color: yellow;
  color: black;
  border-radius: 0.5cm;
  margin-left: 0.2cm;
}
.checkcomplete {
  /* background-color: rgb(233, 222, 222); */
  /* color: white; */
}
.completetask {
  background-color: rgb(13, 13, 12);
  border-radius: 0.5cm;
  color: white;
  margin-left: 0.2cm;
}
